/* Resetando margens e fontes básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #333;
    padding: 20px;
  }
  main{
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Cabeçalho */
  header {
    background-color: #4a90e2;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
  }
  
  header p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  /* Seções */
  section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  section h2 {
    color: #4a90e2;
    margin-bottom: 10px;
  }

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    color: #555;
     background-color: #4a90e2;
  }
  