@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* --color-background: #0d1117; */
  --background: #f0f2f5;
  --text: #333;
  --accent: #4a90e2;
  --accent-yellow:#ffcc00;
  --color-header: #161b22;

  --color-shadow: rgba(0, 188, 212, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--text);
  padding: 0 20px;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 250px);
}

/* Cabeçalho */
header {
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

header,
footer {
  text-align: center;
  color: white;
  background-color: var(--accent);
  border-radius: 10px;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Seções */
section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section#sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;

}

#sobre img {
  width: 200px;
}

section h2 {
  color: #4a90e2;
  margin-bottom: 10px;
}

#projetos ul li{
  box-shadow: 0 4px 10px rgba(0, 0, 0.2);
  
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 15px;
  width: 250px;
  transition: transform 0.3s, border-color 0.3s;
  border-left: 5px solid var(--accent);
}
#projetos ul li:hover{
  transform: translateY(-5px);
  box-shadow: 0 2px 15px var(--accent);
}

#projetos ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s;
}


#projetos ul li:hover a {
  color: var(--accent-yellow);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Rodapé */
footer {
  padding: 15px;
  font-size: 0.9em;
}